.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/*                     секция digits          */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0;
}

/*                  секция feynman           */
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px;
  background-position: bottom left;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 100px 0 70px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

/*                   секция kaufman           */
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  right: -210px;
  z-index: 0;
}

.section-title_theme_dark {
  margin: 90px auto 20px;
  color: white;
  z-index: 1;
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

/*                  секция footer          */
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
  margin: auto;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
